/* 101-style.css */
.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

/* Flexbox properties */
.box1 {
  background: #2ecc71;
  font-size: 2rem;
  height: 100px;
  width: 150px;
}
.box2 {
  background: #3498db;
  font-size: 4rem;
  height: 150px;
  width: 220px;
}
.box3 {
  background: #2c3e50;
  height: 250px;
  width: 420px;
  font-size: 10rem;
}
.box4 {
  background: #9b59b6;
  font-size: 4rem;
  height: 150px;
  width: 220px;
}
.box5 {
  background: #e67e22;
  font-size: 2rem;
  height: 100px;
  width: 150px;
}
